.hero {
  text-align: center;
  /* margin-bottom: 30px; */
}

.hero h1 {
  color: #002244;
  margin-bottom: 1rem;
}

.section {
  margin-top: 4rem;
  /* border: 2px solid red; */
}

.section h2 {
  margin-bottom: 20px;
}

.description {
  text-align: center;
}

.description p {
  font-size: 16px;
  /* line-height: 1.5; */
}

.table {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  overflow-x: auto;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 12px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: #002244;
  color: white;
}

.table th:nth-child(2) {
  width: 25%;
}

.table tbody tr td a {
  width: 100%;
  display: inline-block;
}

.table table {
  min-width: 792px;
  width: 100%;
}

/* .table tbody tr td:nth-child(2) {
  display: flex;
  flex-direction: column;
} */
