.navbar {
  background-color: #002244;

  padding: 1rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo a {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-logo a:hover {
  color: #cccccc;
}

.navbar-toggle {
  cursor: pointer;
  display: none;
}

.navbar-toggle span {
  background-color: #ffffff;
  display: block;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  width: 25px;
}

.navbar-toggle.active span:nth-of-type(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggle.active span:nth-of-type(2) {
  opacity: 0;
}

.navbar-toggle.active span:nth-of-type(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-left: 1rem;
}

.navbar-item a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-item a:hover {
  color: #cccccc;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbar-menu {
    position: fixed;
    top: 43px;
    right: 0;
    width: 200px;
    /* left: 0; */
    bottom: 0;
    background-color: #002244;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translatex(140%);
    transition: transform 0.3s ease-in-out;
    /* z-index: -1; */
  }

  .navbar.active .navbar-menu {
    transform: translatex(0);
    z-index: 100;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-item {
    margin-left: 0;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }

  .navbar-toggle {
    display: block;
  }
  .navbar-overlay {
    position: fixed;
    top: 43px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 98;
  }
}
