.hero {
  text-align: center;
  margin-bottom: 15px;
}

.hero h1 {
  color: #002244;
  margin-top: 30px;
}

.description {
  text-align: center;
  margin-top: 50px;
}

.description p {
  font-size: 16px;
  line-height: 1.8;
}
