.sidebar {
  /* width: 15%; */
  flex-basis: 15%;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.sidebar button {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 10px;
  background: none;
  color: #002244;
  border: none;
}

.arrow-icon {
  display: none;
}

.sidebar h2 {
  /* text-align: center; */
  color: #002244;
}

.sidebar ul {
  border-top: 1px solid #e1e1e1;
  list-style: none;
  padding: 0;
  margin: 0px;
  overflow-y: auto;
  max-height: calc(100vh - 140px);
}

/* Set the width and height of the scrollbar */
.sidebar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 9px;
  /* border: 1px solid; */
  margin-bottom: 5px;
  transition: background-color 0.3s ease-in-out;
}

.sidebar li:hover {
  background-color: #e1e1e1;
}

.sidebar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar a {
  color: #002244;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
}

.sidebar a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    order: -1;
    margin-right: 0;
    margin-bottom: 1rem;
    /* border: 2px solid red; */
  }

  .sidebar button {
    pointer-events: auto;
    justify-content: flex-start;
    cursor: pointer;
  }

  .arrow-icon {
    display: block;
    font-weight: 600;
    font-size: 25px;
  }

  .sidebar__list {
    position: fixed;
    top: 129px;
    bottom: 0;
    left: -100%;
    width: 40%;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    transition: left 0.3s ease-out;
  }

  .sidebar__list__open {
    left: 0;
  }

  .sidebar__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    z-index: 0;
  }

  .sidebar li {
    padding: 10px;
  }
}
